.import-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.file-container-filled {
    border: 2px dashed #000!important;
    background-color: #CC5B5B!important;
}

.file-container {
    border: 2px dashed #264AFF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    margin-top: 30px;
    background-color: #D1E5FF;
    border-radius: 8px;
}
input.input-file {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.content-container {
    text-align: center;
}

.content-container img {
    max-width: 75px;
}

.content-container h4 {
    /* margin: 10px 0; */
    margin-top: 10px;
}

.content-container p {
    cursor: pointer;
    color: #2962FF;
    margin: 0;
}

button.sample-btn {
    color: #7A8AB5;
    background-color: white;
    border: 1px solid #7A8AB5;
    padding: 5px 12px;
    border-radius: 6px;
}
img.sample-icon {
    margin-right: 10px;
}

ul.dropdown-menu.show {
    border: none;
    padding-top: 10px;
    width: 100%;
    background: #ffffff14;
}

.note {
    background-color: #f9f9f9;
    border-left: 4px solid #007bff;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
}

.note p {
    margin: 0;
    font-weight: bold;
}

.note ul {
    padding-left: 20px;
    margin: 5px 0;
}

.note li {
    margin-bottom: 5px;
}


@media(max-width: 600px){
    .import-header {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
    }
    button.sample-btn {
        margin-top: 10px;
    }
}