.form-check-input:checked[type=checkbox] {
    background-color: #76EE59;
    border: #76EE59;
}

input#mySwitch {
    width: 40px;
    height: 18px;
}

button.btn.dropdown-toggle.permission {
    border: 1px solid lightgray;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: 600;
}

ul.dropdown-menu.permission {
    background-color: white;
    width: 50%;
    padding: 15px;
}
h2.permission-heading {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;
}
p.permission-pg {
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.dropdown.permission {
    max-width: 500px;
    margin: 15px 0 22px;
}

tr th.table-header {
    background-color: #ECEFF6;
    color: black;
}
tbody tr td.row-color {
    color: black;
    font-weight: 600;
}
a.nav-link.dropdown-toggle.nav-links {
    color: white;
}

/* li.dropdown-list-li {
    padding-left: 55px;
    margin-bottom: 5px;
} */

@media (max-width: 768px){
.dashboard-content {
    padding-top: 80px;
}
tr th.table-header {
    font-size: 14px;
}
tbody tr td.row-color {
    color: black;
    font-size: 15px;
}
}